.cont-1 {
    background-image: url("../../assets/Bussiness_man_1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* height: 99vh; */
    background-attachment: fixed;
    margin-top: -42px;
}

.width {
    margin: 142px 0px;
    width: 40%;
    float: right;
    background-color: #ffffffba;
    border-radius: 15px;
}

a.width {
    text-decoration: none;
    color: black;
}