
<div class="div-img_main">
    <img class="img-div_1 img-fluid" src="../../assets/main.jpg" />
</div>

<hr />
<div id="body">
  
<div class="banner-1">
  <h2>Register our E-mail Service to stay up to date with the latest News about your Favorite Halls</h2>
</div>



<!-- SLIDER -->
<!-- required bootstrap js -->
<!-- add 'carousel-slider' snippet in css -->
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="slider1-img" src="../../assets/Karachi-marriage-halls.jpg" alt="">
      <div class="carousel-caption">
        <h3 class="transform-skew">Title</h3>
        <p class="transform-skew">Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here.</p>
      </div>
      
    </div>
    <div class="carousel-item">
      <img class="slider1-img" src="../../assets/marriage-halls-lead.jpg" alt="">
      <div class="carousel-caption">
        <h3 class="transform-skew">Title</h3>
        <p class="transform-skew">Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="slider1-img" src="../../assets/312391_6923251_updates.jpg" alt="">
      <div class="carousel-caption">
        <h3 class="transform-skew">Title</h3>
        <p class="transform-skew">Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here. Description goes here.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<br>
<br>
<br>
<br>




<div class="col-sm-12 mgt70 mgb70">
  
  
  <h3 class="hb bold text-center mgt70 mgb0">Wedding Halls and Venues in Cities</h3>
      <p class="text-center mgt30 mgb100 ">Select venue based on cities</p>
      
  </div>

  <div class="container pt-3" >
    <div>
      <div class="row">
        <div class="col-lg-3">
          <a routerLink="/search">
            <img src="../../assets/Islamabad.jpg" class="img-responsive img-city">
          </a>
          <!-- <div class="text-center">
            <h3>ISLAMABAD</h3>
         </div> -->
        </div>
        <div class="col-lg-3">
          <a routerLink="/search">
            <img src="../../assets/lahore.jpg" class="img-responsive img-city">
          </a>
          <!-- <div class="text-center">
             <h3>LAHORE</h3>
          </div> -->
        </div>
        <div class="col-lg-3">
          <a routerLink="/search">
            <img src="../../assets/Chakwal.jpg" class="img-responsive img-city">
          </a>
          <!-- <div class="text-center">
            <h3>CHAKWAL</h3>
         </div> -->
        </div>
        <div class="col-lg-3">
          <a routerLink="/search">
            <img src="../../assets/Rawalpindi.jpg" class="img-responsive img-city">
          </a>
          <!-- <div class="text-center">
            <h3>RAWALPINDI</h3>
         </div> -->
        </div>
      </div>
        <div class="row pt-2 " >
          <div class="text-center col-lg-3">
            <h3 class="blink_me" style="background-color: lightgray;">ISLAMABAD</h3>
        </div>
        <div class="text-center col-lg-3">
            <h3 class="blink_me" style="background-color: lightgray;">LAHORE</h3>
        </div>
        <div class="text-center col-lg-3">
            <h3 class="blink_me" style="background-color: lightgray;">CHAKWAL</h3> 
        </div>
        <div class="text-center col-lg-3">
            <h3 class="blink_me" style="background-color: lightgray;">RAWALPINDI</h3>
        </div>
      </div>
    </div>
  
  </div>
<br>
<br>
<br>

  <div class="container-fluid">
    <a routerLink="/add-property"><img class="img-fluid" src="../../assets/Vertical Groth.jpg" alt="Vertical_Growth"></a>
  </div>


<br>
<br>
<br>
<br>






<!-- -------------------------------------------------FOOTER-------------------------------------------------------- -->

</div>


<div class="footer text-white bg-dark py-5" > 
  <div class="container">
      
      <div class="row ">
          <!-- footer-about -->
          <div class=" col-md-6 col-xs-12">
              <div class="footer-widget ">
                 
                 <img class="img-responsive logo-footer" src="../../assets/logo.png">
                 <br><br>
                 <p style="max-width:390px">Eventier is first online event booking engine of Pakistan, facilitating customers to find Halls & Venue of their choice and place bookings.<br><br></p>
              </div>
          </div>
          <!-- /.footer-about -->
          <!-- footer-links -->
          <div class="col-md-2  col-xs-6">
              <div class="footer-widget ">
                  <div class="footer-title">Main Menu</div>
                  <ul class="list-unstyled">
                      <li><a class="text-white" href="https://Eventier.com/">Home</a></li>
                      <li><a class="text-white" href="https://Eventier.com/search">Search</a></li>
                      <li><a class="text-white" href="http://partner.Eventier.com">Partners Program</a></li>
                      <li><a class="text-white" href="http://Eventier.com">Blog</a></li>
                      <li style="display:none;"><a hre="javascript:;" onclick="getLocation();">GetLocation</a></li>

                  </ul>
              </div>
          </div>
          <!-- /.footer-links -->
          <!-- footer-links -->
          <div class="col-md-2  col-xs-6">
              <div class="footer-widget ">
                  <div class="footer-title">Support</div>
                  <ul class="list-unstyled">
                    <li><a class="text-white" href="http://support.Eventier.com/">Help & Support</a></li>
                    <li><a class="text-white" href="https://Eventier.com/terms-and-conditions">Terms & Conditions</a></li>
                    <li><a class="text-white" href="https://Eventier.com/privacy-policy">Privacy Policy</a></li>
                    <li><a class="text-white" href="https://Eventier.com/Pages/contactUs">Contact Us</a></li>



                  </ul>
              </div>
          </div>
          <!-- /.footer-links -->
          <!-- footer-links -->
          <div class="col-md-2 col-xs-12 ">
              <div class="footer-widget ">
                  <h3 class="footer-title">Get in Touch</h3>
                  
                  <p><i class="fa fa-phone" style="padding-right: 4px;"></i>+92-51-1234567</p>

                  <p><i class="fa fa-envelope" style="padding-right: 4px;"></i>info@Eventier.com</p>

                 <p><i class="fa fa-map-marker" style="padding-right: 4px;"></i>Office # 15, Srkari Building, Rawalpindi</p>






              </div>
          </div>
          <!-- /.footer-links -->
          <!-- tiny-footer -->
      </div>
      <div class="row ">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
              <div class="tiny-footer">
                  <p>Copyright © Eventier All Rights Reserved 2021</p>
              </div>
          </div>
          <!-- /. tiny-footer -->
      </div>
  </div>
</div>



